*{
    margin: 0;
    color: white;
   font-family: roboto_light;
}
body{
  background-color: #132432;
}
@font-face {
    font-family: lemon_milk;
    src: url(../fonts/lemon_milk/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: roboto_light;
    src: url(../fonts/roboto/roboto-Light.ttf);
}
@font-face {
    font-family: roboto_bold;
    src: url(../fonts/roboto/roboto-Bold.ttf);
}
.container{
    background-image: url(../images/background.png);
    background-color: #132432;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  
}
/* navigation bar style */
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 8%;
    margin-left: 8%;
}
#logo img {
    max-width: 80px; 
    height: auto;
}
.nav-items{
    list-style-type: none;
    display: flex;
}
.nav-items li {
    margin: 0 15px;
}
.nav-items li a {
    text-decoration: none;
    font-size: 1.2em;
}
.nav-items li a:hover{
  color: #A81719;
}
/*  hero section style*/
#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#hero-section h1,
#hero-section h2,
#hero-section p,
#hero-section button {
  margin-bottom: 7vh;
    
}
#hero-section h2{
    font-size : 20px;
}
#hero-section h1{
    margin-top: 5%;
    font-size: 3em;
    display: inline;
    
}
#hero-section h1 span {
  display: inline-block; 
}

h1, h1 span{
    font-family: lemon_milk;
}

.red-title{
    color: #A81719;
    font-family: lemon_milk;
}


/* button style*/
.button-50 {
    background-color: #A81719;
    border: 1px solid #A81719;
    box-shadow: #132432 4px 4px 0 0,#A81719 4px 4px 0 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #A81719 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
#button-two{
    font-family: roboto_bold;
    font-size: 1.3em;
}
#button-one{
  padding: 8px 30px;
}
/* Add media query for smaller screens */
@media (max-width: 767px) {
    .contacts{
        background-color: #132432;
        background-position: center;
      }
      
    
  nav {
      flex-direction: column;
      align-items: flex-start;
  }
  .nav-items {
      margin-top: 20px;
      justify-content: flex-start;
  }
  #hero-section h1 {
      font-size: 2em;
  }
  #button-one,
  #button-two {
      padding: 12px 30px;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-items {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 0;
      padding: 0;
  }
  .nav-items li {
      margin: 8px 0;
  }
  #hero-section h1 {
    font-size: 1.5em;
    margin-top: 10%;
}
#hero-section h1 span {
  display: inline;
}
  #hero-section h2 {
    font-size: 1em;
}
  .button-50 {
      width: auto;
      padding: 10px 20px;
  }
  .container {
    background-color: #132432;
    background-size: cover;
    background-position: center;
}
}
/*media queries */
@media (max-width: 964px) {
  nav{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #button-one {
    display: none;
  }
    #hero-section h2{
    font-size : 15px;
}
}
@media (max-width: 767px) {
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #132432;
    background-size: cover;
  }
  .nav-items {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 0;
      padding: 0;
  }
  .nav-items li {
      margin: 8px 0;
  }
  #hero-section h1 {
    font-size: 1.5em;
    margin-top: 10%;
}
#hero-section h1 span {
  display: inline;
}
  #hero-section h2 {
    font-size: 1.2em;
}
  .button-50 {
      width: auto;
      padding: 10px 20px;
  }
 
}
@media (min-width: 1450px) {
.nav-items li a {
  text-decoration: none;
  font-size: 1.5em;
  margin: 0 17px;
}
#hero-section h1{
  margin-top: 7%;
  font-size: 4em;
}
#hero-section h2{
  font-size: 2em;
}
#hero-section p{
  font-size: 1.5em;
}
#logo img {
  max-width: 100px; 
}
.button-50{
  font-size: 1.5em;
}
#button-one{
  padding-top: 15px;
  padding-bottom: 15px;
}
}
/* container-two style: (pre trainings) */
.container-two{
  background-color: #132432;
  background-image: url(../images/hexagon.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container-two h1{
 margin-top: 4%;
 margin-bottom: 2%;
} 
.container-two p{
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 5.5%;
}
.cards img {
  margin:20px;
  max-width: 100%;
  height: auto;
  height: 200px;
  width: 200px; 
}
@media (max-width: 767px){
  .container-two h1{
    font-size: 1.5em;
    margin-top: 4%;
   } 
}


/* about section :*/
.about-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6% 10%;
}

.about-section h1{
  margin-bottom: 2%;
}

.content{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

video{
  height:300px;
  width: 500px;
  margin-left: 30px;
  border: #A81719 solid 3px;
  border-radius: 10px;
}

#about{
  margin-right: 30px;
}

@media (max-width: 767px){
  .content{
    flex-direction: column;
   }

   video{
    margin-top: 30px;
   }
}

@media (max-width: 500px){
   video{
    height:200px;
  width: 330px;
  margin-left: 10px;
  margin-right:10px;
  border: #A81719 solid 3px;
  border-radius: 10px;
   }
}
@media (max-width: 330px){
   video{
    height:150px;
  width: 240px;
  margin-left: 10px;
  margin-right:10px;
  border: #A81719 solid 3px;
  border-radius: 10px;
   }
    .agenda h1{
  font-size: 15px;
 }
.agenda .text-wrapper-15 {
  font-size: 10px; 
}
    .cards img {
    margin: 20px;
    max-width: 100%;
    height: auto;
    height: 150px;
    width: 140px;
}
}


/*Agenda*/
.agenda{
  margin-top:20px ;
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  text-align: center;
  margin-bottom: 12px;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.agenda h1{
  margin-top: 4%;
  margin-bottom: 2%;
 
 font-style: normal;
 font-weight: 500;
 line-height: normal; 
 font-family: lemon_milk;
 }


.agenda .text-wrapper-15 {
  margin-top: 4%;
  margin-bottom: 2%;
 font-style: normal;
 font-weight: 500;
 line-height: normal; 
 font-family: lemon_milk;
}
.agenda .group-12 
{
  position: relative;
  width: 95%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 20px;
  cursor: pointer;

}

.agenda .ellipse 
{
  background-color: #a81719;
  position: relative;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
}

.agenda .ellipse-2 {
  background-color: #f7f7f8;
  position: relative;
  width: 19px;
  height: 19px;
  border-radius: 9.5px;
}

.hide
{
  display: none;
}





/*-----*/

/* contact */

.contacts {
    justify-content: center;
    background-color: #132432;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  
  }
  
  .title-contact {
    color: #F7F7F8;
    text-align: center;
    font-family: LEMON MILK;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
  }
  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    
  }
  .logos img {
    margin: 0 80px; 
    width: 133.29px;
    height: 152px;
  }
  .text-contact {
    color: #F7F7F8;
    text-align: center;
    font-family: roboto_light;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 28px;
    display: flex;
    justify-content: center;
  }
  
.reseau{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 130px;
  
  }
  
  .icons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  }
  .icon {
  display: inline-flex;
  width: 80px;
  height: 80px;
  border-radius: 27%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color;
  transition-duration: 0.25s;
  margin-right: 35px;
  margin-left: 35px; 
  margin-bottom: 30px;
  justify-content: center;
  }
  .icon:hover {
  outline-offset: 4px;
  }
  .icon i {
  margin: auto;
  }
  .icon--instagram:hover {
  outline-color: #A81719;
  }
  .icon--twitter:hover {
  outline-color: #A81719;
  }
  .icon--linkedin:hover {
  outline-color: #A81719;
  }
  .icon--facebook:hover {
  outline-color: #A81719;
  }

  @media only screen and (max-width: 1305px) {
    .contacts{
      display: flex;
    flex-direction: column;
    background-color: #132432;
    background-position: center;
    }
    .title-contact{
      display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    }
    .logos img {
      margin: 0 70px; 
    }
  }
  
  
  
    @media only screen and (max-width: 1000px) {
      .contacts{
        display: flex;
      flex-direction: column;
      background-color: #132432;
      background-position: center;
      }
      
      .logos img {
        margin: 0 50px; 
        width: 120px;
        height: 120px;
      }
      .title-contact {
        font-size: 3vh;
        font-weight: 700;
        line-height: 68px;
        padding-top: 80px;
      }
    }
  
    @media (max-width: 582px){
        .logos img{
            display: none;
        }
        .text-contact p{
            font-size: 0.8em;
        }
    }

    /*---------------------------------Animations-----------------------------------*/

@keyframes fade-In {
  0%
  {
    opacity: 0;
  }

  100%
  {
    opacity: 1;
  }
}

.fade-In
{
  animation: fade-In 3s ;
}

.fade-In-2
{
  animation: fade-In 5s ;
}

@keyframes fade-Up
{
  0%
  {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100%
  {
    opacity: 1;
    transform: translateY(0px) scale(1); 
  }
}

.fade-Up
{
  animation: fade-Up 2s;
}

@keyframes fade-Down
{
  0%
  {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100%
  {
    opacity: 1;
    transform: translateY(0px) scale(1); 
  }
}

.fade-Down-1
{
  animation: fade-Down 2s;
}

.fade-Down-2
{
  animation: fade-Down 3.5s;
}


/*ChatBot*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
html {
  --primaryGradient: linear-gradient(
    93.12deg,
    #163147 0.52%,
    #163147 100%
  );
  --secondaryGradient: linear-gradient(
    268.91deg,
    #163147 -2.14%,
    #163147 100%
  );
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #163147;
}

/* CHATBOX
=============== */
  
::-webkit-scrollbar {
  width: 5px;

}
::-webkit-scrollbar-track {
  height: 40px;
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #656565;
  border-radius: 40px;
}

.chatbox {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 123456;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index: -123456;
  opacity: 0;
  transition: all .5s ease-in-out;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;

}
.sending {
  font-size: 1.8em;
}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


/* HEADER */
.chatbox__header {
  position: sticky;
  top: 0;
  background: orange;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}

.messages__item {
  background: orange;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
  position: sticky;
  bottom: 0;
}

.chatbox__support {
  background: #f9f9f9;
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 18px;;
  border-top-right-radius: 18px;
  box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: .9rem;
  color: white;
  padding-top: 8px;
  margin-bottom: 10px;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  margin-top: 10px;
  background: #555555;
  padding: 8px 12px;
  max-width: 70%;
}
.input_text:focus {
  outline: none;
  border: none;
}

.input_text {
  color: #000000;
}


.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


.messages__item--operator {
  height: max-content;
  display: flex;
  flex-direction: row-reverse;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color: white;
  max-width: 70%; /* Updated from fit-content to 70% */
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-all; 
}


/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
  margin-top: 20px;
}

.chatbox__footer input {
  width: 85%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
}

.chatbox__send--footer {
  color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


